/* Library Component */

.musical_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px 25px;
  width: 70%;
}

.library_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 3rem;
  /* padding: 10px; */
}
